@model TodoGDS.TodoItem

@{
    ViewData["Title"] = "Create Todo";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Create Todo</h1>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
                <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        <!-- Validation errors will be inserted here -->
                    </ul>
                </div>
            </div>
            <div class="govuk-form-group">
                <label asp-for="Description" class="govuk-label"></label>
                <input asp-for="Description" class="govuk-input" />
                <span asp-validation-for="Description" class="govuk-error-message"></span>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">@Html.DisplayNameFor(model => model.IsCompleted)</h1>
                    </legend>
                    <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="IsCompleted" name="IsCompleted" type="checkbox" value="true" asp-for="IsCompleted" />
                            <label class="govuk-label govuk-checkboxes__label" for="IsCompleted">Completed</label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button type="submit" class="govuk-button">Create</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="govuk-link">Back to List</a>
</div>
